{% extends "base.html" %}
{% block title %}About{% endblock %}
{%block content%}
    <div class="jumbotron padding-bottom: 300px" style="margin-bottom:0px">
        <h2  style="margin-left:10px">Jinu Arun Antony</h2>
        <p style="margin-left:10px">I have completed FULL STACK DEVELOPMENT in PYTHON -DJANGO from Techmindz Corperate Training Platform ,Infopark,Kochi.<br> I created successful websites that are fast, easy to use, and built with best practices.

        I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.

        My main experience is in back-end development but I also have a passion for design. Given that producing a modern website requires the combination of design, server technology, and the layer that users interacts with, I believe having experience in both design and development allows for making the most optimal user experiences.

        I have the potential to serve clients by developing websites to save their time and money, made it easier to grow their website alongside their business, and made for a product that is consistently of high quality.</p>
    </div>
{%endblock content%}


