{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{%block content%}
    <div class="jumbotron" style="margin-bottom:0px">
        <div class="container-fluid" style="padding-bottom:200px">

            <br>
            <br>
            <h2 style="color:#873600;padding:0px;text-align:center">My Resume</h2>
            <br>
            <br>

            <center>

                <a href="{% static 'docs/JINU_ARUN.pdf' %}">Click Here</a>
            </center>
        </div>
    </div>
{%endblock content%}
